# Ansible
.ansible/
ansible.cfg

# Environment files
.env
*.env
!.env.example

# IDE
.vscode/

# Logs
*.log

# Testing artifacts
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache
coverage.xml
*.cover

# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
.python-version

# Task internal files
.task/checksum/
