{% set site = nginx_proxy_site_defaults | combine(item) %}
{% set upstream_name = site.upstream_name | default(site.name) %}
{% set server_name = site.server_name | regex_replace('^https?://', '') %}
# {{ site.name }}: {{ server_name }}

{# Resolve SSL certificate paths #}
{% if site.ssl_enabled %}
{%   if site.ssl_certificate | length > 0 and site.ssl_certificate in nginx_proxy_ssl_certificates %}
{%     set ssl_cert_path = nginx_proxy_ssl_dest_dir + '/' + site.ssl_certificate + '/cert.pem' %}
{%     set ssl_key_path = nginx_proxy_ssl_dest_dir + '/' + site.ssl_certificate + '/privkey.pem' %}
{%   elif site.ssl_cert | length > 0 and site.ssl_key | length > 0 %}
{%     set ssl_cert_path = site.ssl_cert %}
{%     set ssl_key_path = site.ssl_key %}
{%   else %}
{%     set ssl_cert_path = "" %}
{%     set ssl_key_path = "" %}
{%   endif %}
{% endif %}

upstream {{ upstream_name }} {
{% for backend in site.backends %}
    server {{ backend.host }}:{{ backend.port }}{{ ' weight=' ~ backend.weight if backend.weight is defined else '' }}{{ ' max_fails=' ~ backend.max_fails if backend.max_fails is defined else '' }}{{ ' fail_timeout=' ~ backend.fail_timeout if backend.fail_timeout is defined else '' }};
{% endfor %}
{% if site.upstream_keepalive > 0 %}
    keepalive {{ site.upstream_keepalive }};
{% endif %}
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ server_name }};

{% if site.ssl_enabled and ssl_cert_path | length > 0 %}
    # Redirect HTTP to HTTPS
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ server_name }};

    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};

{% if site.ssl_trusted_certificate is defined %}
    ssl_trusted_certificate {{ site.ssl_trusted_certificate }};
    ssl_stapling on;
    ssl_stapling_verify on;
{% endif %}

{% if site.hsts %}
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
{% endif %}
{% endif %}

    access_log /var/log/nginx/{{ site.name }}_access.log;
    error_log /var/log/nginx/{{ site.name }}_error.log;

    client_max_body_size {{ site.client_max_body_size }};

{% if site.headers is defined %}
{% for header, value in site.headers.items() %}
    add_header {{ header }} "{{ value }}" always;
{% endfor %}
{% endif %}

{% if site.locations is defined %}
{% for location in site.locations %}
    location {{ location.path }} {
{% if location.proxy_pass is defined %}
        proxy_pass {{ location.proxy_pass }};
{% else %}
        proxy_pass http://{{ upstream_name }};
{% endif %}
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
{% if location.websocket is defined and location.websocket %}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
{% endif %}

{% if location.headers is defined %}
{% for header, value in location.headers.items() %}
        proxy_set_header {{ header }} {{ value }};
{% endfor %}
{% endif %}

{% if location.config is defined %}
{{ location.config | indent(8, first=false) }}
{% endif %}
    }

{% endfor %}
{% else %}
    location / {
        proxy_pass http://{{ upstream_name }};
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
{% endif %}
}
